.Card{
    display: flex;
    padding: 3rem 5rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fffaf0;
    height: 1200px;
}

.Products{
    padding: 20px;
    width: 300px;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root{
    height: 500px;
}