.Image{
    height: 280px;
    border-bottom: 2px solid gray;
    object-fit: contain;
    width: 100%;
}

.UserComponent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}

.Acciones{
    justify-content: center;
}

.CardContent{
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-around;
}

