.Cart{
    background-color: #fffaf0;
    display: flex;
    justify-content: center;
}

.Cart-Container{
    width: 1000px;
    border: 1px solid grey;
    display: flex;
    margin: 50px;
    border-radius: 20px;
}
.Cart-Container img{
    border-radius: 20px;
}

.Text-Container{
    display: flex;
    margin: 15px 30px;
    flex-direction: column;
    text-align: justify;
    width: 100%;
}

.Text-Container div{
    padding: 15px;
}

.Icon-Container{
    display: flex;
    justify-content: end;
}
