.Logo{
    filter: brightness(1.5);
    max-width: 6rem;
    width: auto;
}

.DivFix{
    display: flex;
    align-items: center;
}

.DivNav{
    width: 800px;
}

.Login{
    padding: 0px 20px;
}

.Navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5rem;
    border-bottom: 1px solid lightgray;
}


.Link{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.Link:hover{
    color: #F9E79F;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

