.Logo{
    mix-blend-mode: multiply;
    filter: brightness(1.3);
    height: 43px;
    width: auto;
}

.div-fix{
    display: flex;
    align-items: center;
}

.Navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

.header-content{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #efefef;
}

body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

ul li{
    list-style: none;
    padding: 0px 12px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

ul li a:hover{
    color: #EBECEE;

}